.mat-error {
  font-family: Cambria, serif;
  margin-top: 10px;
}

.mat-stroked-button {
  margin-left: 10px;
}

mat-card {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 250px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
}

p {
  font-family: Cambria, serif;
  font-size: larger;
}
