<mat-card>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <mat-form-field>
        <input type="text" formControlName="login" id="login" matInput placeholder="Login"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="password" formControlName="password" id="password" matInput placeholder="Password"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="password" formControlName="repeatPassword" id="repeatPassword" matInput
               placeholder="Repeat password"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Register
      </button>
    </div>
    <mat-error>{{errors}}</mat-error>
  </form>
</mat-card>
